@(message: String)


@main("form") {

    <h2>here is form</h2>
    <ul>
      <li>form</li>
    </ul>
    
    <div id="root"></div>
    
    <form method = "get" action = "validateLoginGet" >
        Name:<input type="text" name = "name"></input>
        Fav Color:<input type="text" name = "color"></input>
        <input type="submit"></input>
    </form>

    <form method = "post" action = "validateLoginPost" >
        Name:<input type="text" name = "name"></input>
        Fav Color:<input type="text" name = "color"></input>
        <input type="submit"></input>
    </form>


  }